/* .flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
} */

.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 600px; */
    width: 600px;
    height: 1000px;
    margin: 0 auto;
    background-color: #eff2f7;
}

.child {
    /* width: 300px; */
    width: 300px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.red {
    order: 3;
    background-color: red;
}
.yellow {
    order: 1;
    background-color: yellow;
}
.blue {
    order: 2;
    background-color: blue;
}
