.parent {
    background-color: #e5e9f2;
}

.child,
.other {
    height: 50px;
    color: #212529;
    line-height: 50px;
    text-indent: 20px;
}

.child {
    width: 500px;
    background-color: red;
}
.other {
    width: 100px;
    background-color: yellowgreen;
}
