* {
    box-sizing: border-box;
}

.box {
    box-sizing: border-box;
    width: 480px;
    height: 480px;
    background-color: #0066ff;
    color: white;
    padding-top: 40px;
    padding-left: 50px;
}
